/* General Properties */

h1{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Kurale', serif;
    text-align: justify;
    font-size: 18px;
}

section{
    height: 650px;
}

body{
    margin: 0px;

}

.link_button{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;

    padding: 10px 20px;
    background-image: linear-gradient(45deg,tomato,magenta);
    border-radius: 5px;
    
}

/* Header Section */

.intro{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hello{
    width: 30%;
    float: left;
    

}

.hello img{
    width: 100%;
}

/* Biography Section */


.bio img{
    width: 100%;
}

.bio{
    width:30%;
    float: left;
}

.biography{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/* Latest Work Section */

.latest_work img{
    width: 30%;
    float: left;
}

.latest_work{
    margin-top: 50px;
    margin-left: 10%;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Experience Area */


.head-highlight{
    color: orangered;
}

#ex{
    margin-bottom: 50px;
    margin-top: 0px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

.single {
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
    padding-right: 20px;
    padding-left: 15px;
    background-color: whitesmoke;
    width: 450px;
    margin-left: 10%;
    float: left;
}

.experience-area{
    background-image: url("Images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 500px;
}

#police{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}

#pro{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}


/* Clients Section */

.client{
    text-align: center;
    margin-bottom: 50px;
}

.button{
    text-decoration: none;
    padding: 40px 50px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 700;
    background-image: linear-gradient(30deg,magenta,crimson );
    text-align: center;
    width: 30%;
    margin-left: 32%;
}